/* Documento de estilo */

  @font-face
  {
     font-family: "LUMOS";
     src: url("LUMOS.ttf");
  }
  /* Uso font-face para poder usar las fuentes
     descargadas de internet que quiero usar. */
  @font-face
  {
     font-family: "HARRYP__";
     src: url("HARRYP__.TTF");
  }
  body {
    margin: 0;
    padding: 0px 0 0 0;
    top: 0;
    background-color: #00020a;

  }
 
  /* Style the header */
  #header{

    background-image: url("https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/head1.png");

    /* Enable flex mode. */
    display: flex; 
    
    /* Spread out the elements inside the header. */
    justify-content: space-between;
  
    /* Align items vertically in the center. */
    align-items: center;



  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media (max-width: 1000px){
    #header{
            /* Reverse the axis of the header, making it vertical. */
            flex-direction: column;
            
            /* Align items to the begining (the left) of the header. */
            align-items: flex-start;
    }
    
  }

  #cuerpo{
    font-family: "HARRYP__";
    src: url("HARRYP__.TTF");

    background-repeat: repeat;


  }

   /* Estilo del encabezado principal, osea del título */
  h1 {
    font-family: "HARRYP__";
    src: url("HARRYP__.TTF");
    font-size: 55px;
    text-align: center;
 background-image: url("https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/head1.png");
    opacity: 0.5;
    margin: 0px;
    color:#A98727;
    text-shadow:#030303 2px 0;
    
  opacity: 0.5;
    }
  h5{
    font-family: "HARRYP__";
    src: url("HARRYP__.TTF");
    font-size: 55px;
    color:aliceblue;
    margin: 0px;
    text-align: center;


  }
  p{
    font-family: "HARRYP__";
    text-align: center;
    font-size: 30px;
    color: #d4ac0d;
    opacity: 0.5;
    margin: 0;
  }
  
  
  /* Estilo del pie de página */
  footer{
   align-self: flex-end;
  

   text-align: center;
   
   opacity: 50%;
   background-color:#00020a;
  
  }
  
  
  