/* Documento de estilo pagina principa de tienda */

/* Uso font-face para poder usar las fuentes
   descargadas de internet que quiero usar. */
@font-face
{
   font-family: "LUMOS";
   src: url("LUMOS.ttf");
}

@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}

@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-free-5.15.3-web/css/all.css");
}

/* Estilo del body */
body {
  margin: 0;
  padding: 0px 0 0 0;
  top: 0;
  background-color:#00020a;
  box-sizing: border-box;
  
}

/* Style the header with a grey background and some padding */
#header{
  /* Enable flex mode. */
  display: block; 
  /* Spread out the elements inside the header. */
  justify-content: space-between;

  /* Align items vertically in the center. */
  align-items: center;
  background-image:url("https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/background-head.png");
  background-position:top;
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;

  max-width:100%;
  height:auto;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media (max-width: 800px){
  header{
          /* Reverse the axis of the header, making it vertical. */
          flex-direction: column;
          
          /* Align items to the begining (the left) of the header. */
          align-items: flex-start;
  }
  
}
#menuhead{
  font-family: "fontawesome-free-5.15.3-web/css/all.css", sans-serif;
  display:flex;
  float: right;
  margin-right: 10%;
  margin-top: 40px;
}
#menuhead a{
  font-family: "fontawesome-free-5.15.3-web/css/all.css", sans-serif;
	font-size: 30px;
  margin-right: 20%;
  color:  #ffffff;
  font-style: normal;
}
#header #menuhead .menuhead-cart{
  margin-right: 70%;
}


#subtiendas{

  display: flex;
  position: absolute;
  top: 30%;
  bottom: 40%;
  left: 10%;
  right: 10%;
  margin: -25px -25px -25px -25px;
  justify-content: space-between;

}
#subtiendas a{

  font-style: normal;
  text-decoration:none;
}

.image{
  max-width:100%;
  height:auto;
}
.ollivander{
  position: relative;
  margin-left: auto;
  margin-right: auto;


}
.quidditch{
position: relative;
margin-left: auto;
margin-right: auto;

}
.honeydukes{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 /* Estilo del encabezado principal, osea del título */
h3 {
  font-family: "HARRYP__";
  font-size: 50px;
  text-align: center;

  color:#a85;
  margin: auto;

  }

h6{
  font-family: "LUMOS";
  text-align: center;
  font-size: 30px;
  color:#a85;
  margin-bottom: 0px;

}

p{
  font-family: "fontawesome-free-5.15.3-web/css/all.css", sans-serif;
  font-family: "LUMOS";
  font-size: 30px;
  color: white;
}


/* Estilo del pie de página */
footer{
  position: fixed;
  bottom: 0;
}
@media (max-height:700px){
  footer { position: static; }
  header { padding-top:40px; }
}

.footer-distributed{
background-color: #00020a;
background-image: url("https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/background_foot.png");
background-position:bottom;
background-size:100%;
background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
font-family: "fontawesome-free-5.15.3-web/css/all.css", sans-serif;
  padding: 0px 50px 10px 50px;
max-height: 220px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
margin: 10px
}

/* Footer left */

.footer-distributed .footer-left{

text-align: center;
width: 20%;
}

.footer-distributed h3{
font-family: "LUMOS";
  color:  #ffffff;
  font: normal 30px 'Cookie', cursive;
  margin: 0;
}

/* The company logo */
.footer-distributed .footer-left img{
  max-width: 20%;
}

.footer-distributed h3 span{
  color:  #a85;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin-bottom: 0.2px;
margin-top: 1px;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 0;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-right{
  width: 20%;
text-align: center;
}

.footer-distributed .footer-right p{
font-family: "fontawesome-free-5.15.3-web/css/all.css", sans-serif;
font-family: "LUMOS";
  font-size: 18px;
  color: #ffffff;
  text-align: center;
text-decoration: none;
margin: 10%;
  display: inline-block;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-right a span{
  display:block;
  font-weight: normal;
  font-size:18px;
  line-height:1.5;
color: white;

}

.footer-distributed .footer-right p a{
  color: #a85;
  text-decoration: none;
}
.footer-distributed .footer-right .footer-mail p a{
  color:  #a85;
  text-decoration: none;
  font-size: 23px;

}

/* Footer Right */

.footer-distributed .footer-center{
  width: 50%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 15px;
  font-weight: normal;
  margin: 8;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
text-align: center;
color:   #a85;
}

.footer-distributed .footer-icons a{
font-family: "fontawesome-free-5.15.3-web/css/all.css", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 25px;
color:  #ffffff;
font-style: normal;

}

/*Responsive footer*/

@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 0px;
      text-align: center;
  
  }

  .footer-distributed .footer-center i{
      margin-left: 0;
  }

}

