/* Documento de estilo referido al
  currículum de Hermione. */

@font-face
{
   font-family: "LUMOS";
   src: url("LUMOS.ttf");
}

/* Uso font-face para poder usar las fuentes
   descargadas de internet que quiero usar. */
@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}
body {
  margin: 0;
  padding: 0px 0 0 0;
  top: 0;
  background-color: #0a0d21;
}

#page {
  margin: 0px auto;
  width: 100%;
  background-color: #0a0d21;
}
/* Style the header with a grey background and some padding */
header{
  /* Enable flex mode. */
  display: flex; 
  
  /* Spread out the elements inside the header. */
  justify-content: space-between;

  /* Align items vertically in the center. */
  align-items: center;
  background-color: #0a0d21;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media (max-width: 1000px){
  header{
          /* Reverse the axis of the header, making it vertical. */
          flex-direction: column;
          
          /* Align items to the begining (the left) of the header. */
          align-items: flex-start;
  }
  
}
#cuerpo{
  font-family: "HARRYP__";
  src: url("HARRYP__.TTF");
  background-color: #0a0d21;
  /*background-image: url('https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/S1.png'); */ 
  background-repeat: repeat;


}


/* Estilo del body, solo usado para background-image */

 /* Estilo del encabezado principal, osea del título */
h3 {
  font-family: "HARRYP__";
  font-size: 50px;
  text-align: center;
  text-shadow:4px 4px grey;
  padding: 10px;
  color: #d4ac0d;
  opacity: 0.5;
  margin: 0px;
  background-color: #0a0d21;
  }

p{
  font-family: "HARRYP__";
  text-align: center;
  font-size: 30px;
  color: #d4ac0d;
  opacity: 0.5;
}


/* Estilo del pie de página */
footer{
 align-self: flex-end;

 padding: 0px;
 text-align: center;
 
 opacity: 50%;
 background-color: #0a0d21;

}


