/* Documento de estilo referido al
  currículum de Hermione. */

@font-face
{
   font-family: "LUMOS";
   src: url("LUMOS.ttf");
}

/* Uso font-face para poder usar las fuentes
   descargadas de internet que quiero usar. */
@font-face
{
   font-family: "HARRYP__";
   src: url("HARRYP__.TTF");
}
body {
  margin: 0;
  padding: 0px 0 0 0;
  top: 0;
  background-color:#00020a;
  
}

/* Style the header with a grey background and some padding */
#header{
  /* Enable flex mode. */
  display: block; 
  /* Spread out the elements inside the header. */
  justify-content: space-between;

  /* Align items vertically in the center. */
  align-items: center;
  background-image:url("https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/humutu.png");
  background-position:top;
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;

  height: 220px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media (max-width: 1000px){
  header{
          /* Reverse the axis of the header, making it vertical. */
          flex-direction: column;
          
          /* Align items to the begining (the left) of the header. */
          align-items: flex-start;
  }
  
}
#menuhead{

  display:flex;
  float: right;
  margin-right: 70px;
}

#particles{
  font-family: "HARRYP__";
  src: url("HARRYP__.TTF");
  background-color:#00020a;
  background-repeat: repeat;

}

#subtiendas{

  display: flex;
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 10%;
  right: 10%;
  margin: -25px -25px -25px -25px;
  justify-content: space-between;

}
.image{
  max-width:100%;
  height:auto;
}
.ollivander{
  position: relative;
  margin-left: auto;
  margin-right: auto;


}
.quidditch{
position: relative;
margin-left: auto;
margin-right: auto;

}
.honeydukes{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 /* Estilo del encabezado principal, osea del título */
h3 {
  font-family: "HARRYP__";
  font-size: 50px;
  text-align: center;

  color:#a85;
  margin: auto;

  }

h6{
  font-family: "LUMOS";
  text-align: center;
  font-size: 30px;
  color:#a85;
  margin-bottom: 0px;

}
img{
  text-align: center;
}
p{

  font-family: "LUMOS";
  font-size: 30px;
  color: white;


}

#logo{
  text-align: center;
  bottom: 0px;
}
h2 {
  font-family: "HARRYP__";
  font-size: 30px;
  text-align: center;

  color:#a85;
  margin: auto;

  }
/* Estilo del pie de página */
footer{
 align-self: flex-end;
 padding: 0px;
 text-align: center;

 background-color:#00020a;
 background-image:url("https://raw.githubusercontent.com/Elenadr/2020-2021-LTAW-Practicas/main/P1/wiki/fit.png");
 background-repeat: no-repeat;
 background-position:bottom;
 text-align: center;
 height: 220px;
}


